<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>675409869675-hgsehbetpo1u7vhuhihkenkoq8c5j91i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675409869675-hgsehbetpo1u7vhuhihkenkoq8c5j91i</string>
	<key>API_KEY</key>
	<string>AIzaSyBkDERq60Ct68PvApkXe4NaoRzfXDi6RWA</string>
	<key>GCM_SENDER_ID</key>
	<string>675409869675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jobdeal</string>
	<key>PROJECT_ID</key>
	<string>jobdeal-1e53c</string>
	<key>STORAGE_BUCKET</key>
	<string>jobdeal-1e53c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675409869675:ios:5221de7b5d2fb62d</string>
	<key>DATABASE_URL</key>
	<string>https://jobdeal-1e53c.firebaseio.com</string>
</dict>
</plist>